<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.cloud.sa.auth.mapper.MenuMapper">
    <select id="getMenuListByUserId" resultType="com.sakura.cloud.sa.auth.entity.Menu">
        SELECT
            m.lqb_id id,
            m.lqb_parent_id,
            m.lqb_create_time,
            m.lqb_menu_name,
            m.lqb_menu_level,
            m.lqb_sort sort,
            m.lqb_web_name,
            m.lqb_icon icon,
            m.lqb_hidden hidden
        FROM
            lqb_user_role_middle urm
                LEFT JOIN lqb_role r ON urm.lqb_role_id = r.lqb_id and r.deleted = 0
                LEFT JOIN lqb_role_menu_middle rmr ON r.lqb_id = rmr.lqb_role_id
                LEFT JOIN lqb_menu m ON rmr.lqb_menu_id = m.lqb_id
        WHERE
            urm.lqb_user_id = #{userId}
            and m.lqb_deleted = 0
            AND m.lqb_id IS NOT NULL
        GROUP BY
            m.lqb_id
    </select>

    <select id="getMenuListByRoleId" resultType="com.sakura.cloud.sa.auth.entity.Menu">
        SELECT
            m.lqb_id id,
            m.lqb_parent_id,
            m.lqb_create_time,
            m.lqb_menu_name,
            m.lqb_menu_level,
            m.lqb_sort sort,
            m.lqb_web_name,
            m.lqb_icon icon,
            m.lqb_hidden hidden
        FROM
            lqb_role_menu_middle rmr
                LEFT JOIN lqb_menu m ON rmr.lqb_menu_id = m.lqb_id
        WHERE
            rmr.lqb_role_id = #{roleId}
            AND m.lqb_id IS NOT NULL
        GROUP BY
            m.lqb_id
    </select>

    <select id="getMaxMenuId" resultType="java.lang.Integer">
        select max(lqb_id) from lqb_menu
    </select>
</mapper>
